/* Welcome Section */
.welcome-section {
    text-align: center;
    padding: 50px;
}

.welcome-section .title--main {
    /* Replace with the desired color */
    color: #000000; 
}

.title--main {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: #000000;
}

/* Main Content */
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Button */
.button {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #111111;
}

/* CSS for centering the form elements */
.form-container input {
    text-align: center;
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 500px;
}

.input-field {
    text-align: center;
    width: 100%;
    max-width: 500px;
    /* Adjust the maximum width as desired */
}

.button-container {
    text-align: center;
    /* Adjust the alignment as desired */
    margin-top: 10px;
}

.Homepage-add-instruments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./Music_Collection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Add any additional styles for the image wrapper */
}