/* Import the google web fonts you want to use */
/* @import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One"); */

/*Typography
--------------------------------------------------------------*/

input {
    width: 1300px;
    min-width: 10%;
    /* set a minimum width to prevent the search bar from becoming too narrow */
    font-size: large;
    display: flex;
    flex-direction: row;
  }

body,
button,
select,
textarea {
  color: #404040;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  font-size: 30px;
  /* Increase the font size as needed */
  color: #1f1a1a;
  

}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}
